.cent{
    color: cornflowerblue;
    
}
.img{
   width: 200px;
   height: 200px 
}

.body{
    background-color: orange;
}

.inl{
    display: inline;
}

.flr{
    right: inherit;
    
}

.fll{
     background-color: aliceblue;
}

.foot{
    background-color: yellow;
}

.spa{
    color: red;
}