.cent{
    color: cornflowerblue;
}
.img{
   width: 200px;
   height: 200px 
}

.body{
    background-color: orange;
}

.inl{
    display: inline;
}

.flr{
    right: 50cm;
}

.fll{
     background-color: aliceblue;
}